{% extends 'portfolio/base.html' %} {% block content %}

<div class="container text-center">    
        </div>
        
        {% load static %} 
         <!-- Для загрузки статиков обязательно перед загрузкой использовать эту команду -->
         <div class="box" style="overflow: hidden;">
            <div class="image">
                <img src="{% static 'portfolio/94.jpg' %}" height="700" width="969" style="float: left;">
            </div>
            <div class="text">
                <h5 style="margin-left: 1059px; margin-top: 80px; margin-right: 100px; font-weight: bold; font-family: monospace; font-size: 59px; text-align: justify;" >For myself. For being healthy and happy, for new days and new emotions.</h5>
                <a style="margin-left: 220px; margin-top: 30px;" href = "{% static 'portfolio/How_to_DeFi_Russian.pdf' %}" class="btn btn-dark">Decentra</a>    
            </div>
        </div>
        <div>
            ...
        </div>
        
    <br></br>
        <h1 style="text-align: center; font-weight: bolder;" >.my .psd artworK</h1>
        
        <div class="card-columns">
        {% for project in projects %}
            <div class="card text-center">
            <img class="card-img" src="{{ project.image.url }}" height=33% width=33% >
            <div class="card-img-overlay">
                <div class="shadoww">
                <h2 class="card-title" style="color: rgb(255, 0, 0)">{{ project.title }}</h2>
             <p class="card-text" style="color: rgb(255, 0, 0)">{{ project.description }}</p>
             {% if project.url %}
            <a href="{{ project.url }}">Link</a>
            {% endif%}
            </div>
            </div>
            </div>
        
        <!-- <br></br><br></br><br></br> -->
        {% endfor %}
        </div>

    {% endblock %}